body {
    background-color: #F8FAF8;
    margin: 0;
}

h1 {
    margin-top: 0;
}

hr {
    width: 75%;
}

.topContainer {
    background-color: #F8FAF8; 
    text-align: center;
    height: 50rem;
    width: 100%;
    font-family: 'Sriracha', cursive;
}

.midContainer {
    height: 20rem;
    width: 100%;
    background-color: #F4A02D;
}

.botContainer {
    height: 20rem;
    width: 100%;
    background-color: #2D4343;
}

.botContainer2 {
    background-color: #AABBB1;
    height: 20rem;
    width: 100%;
}